.custom-breadcrumb {
    margin: 0;
}

.contentContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

p-card {
    padding-top: 20px;
}

.label {
    font-size: 100%;
}

.label-half {
    font-size: 150%;
}

.label-two {
    font-size: 200%;
}

h1 {
    font-size: 140px !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
}