<div class="center">
    <div class="p-fluid" id="form">
        <div class="col-2">
            <label for="firstName">Vorname:</label>
            <div class="col w-full">
                <input id="firstName" aria-label="input firstName" pInputText type="text" [(ngModel)]="firstName" />
            </div>
        </div>

        <div class="col-2">
            <label for="lastName">Nachname:</label>
            <div>
                <input id="lastName" aria-label="input lastName" pInputText type="text" [(ngModel)]="lastName" />
            </div>
        </div>

        <div class="col-2">
            <label for="email">E-Mail:</label>
            <div>
                <input pInputText id="email" (change)="checkEmailValid(email)" aria-label="input email" pInputText
                    type="email" [(ngModel)]="email" />
            </div>
        </div>

        <div class="col-2">
            <label for="email">Username:</label>
            <div>
                <input id="username" aria-label="input username" pInputText type="username" [(ngModel)]="username" />
            </div>
        </div>

        <div class="col-2" tabindex="-1">
            <label for="birthday">Geburtstag:</label>
            <div>
                <p-calendar #myCalendar aria-label="input birthday" name="date" [(ngModel)]="birthday"
                    [showIcon]="true"></p-calendar>
            </div>
        </div>

        <div class="buttoncontainer">
            <div class="left">
                <p-button pRipple aria-label="submit register form" [disabled]="!validated" label="Submit"></p-button>
            </div>
            <div class="right">
                <p-button href="/" aria-label="cancel register form" label="Cancel"></p-button>
            </div>
        </div>
    </div>
</div>