<div>
    <label for="firstName">Vorname:</label>
    <input id="firstName" pInputText type="text" [(ngModel)]="firstName" />
</div>

<div>
    <label for="lastName">Nachname:</label>
    <input id="lastName" pInputText type="text" [(ngModel)]="lastName" />
</div>

<div>
    <label for="email">E-Mail:</label>
    <input id="email" pInputText type="email" [(ngModel)]="email" />
</div>

<div>
    <label for="birthday">Geburtstag:</label>
    <p-calendar id="birthday" [(ngModel)]="birthday"></p-calendar>
</div>