<header>
    <h2>Accessibility Test</h2>
    <nav class="navbar">
        <ul class="navLinks">
            <li><a routerLink="" tabindex="0" target="_self">Home</a></li>
            <li><a href="/register/A" tabindex="0" target="_self">About</a></li>
            <li><a href="#" tabindex="0" target="_self">Contact</a></li>
        </ul>
    </nav>
    <div class="abutton">
        <p-toast></p-toast>
        <p-menu (onShow)="getCurrentLocation()" #menu [model]="items" [popup]="true" tabindex="4"></p-menu>
        <button pButton type="button" (click)="menu.toggle($event)" icon="pi pi-bars" label="A11y Menu"></button>
        <div *ngIf="level == 'AAA'" class="colorPickerDiv" [style]="{'padding-top': '5px'}">
            <p-colorPicker aria-label="choose foreground color" class="colorPicker" [(ngModel)]="foreground"
                (onChange)="changeForeground()"></p-colorPicker>
            <p-colorPicker aria-label="choose background color" [(ngModel)]="background"
                (onChange)="changeBackground()"></p-colorPicker>
        </div>
    </div>
</header>
<p-breadcrumb *ngIf="level == 'AAA'" styleClass="custom-breadcrumb" class="max-w-full" [model]="menuItems"
    [home]="{ icon: ' pi pi-home' }"></p-breadcrumb>

<div class="container-fluid">
    <main role="main" class="">
        <router-outlet></router-outlet>
    </main>
</div>