.center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

#form {
    width: 30rem;
    height: 29rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 4px rgba(9, 9, 9, 0.2);

}

#form .col-2 {
    padding: 7px;
    width: 100%;
}


.submit {
    background-color: rgba(0, 123, 255);
}


.buttoncontainer * {
    overflow: auto !important;
}

.left {
    padding: 7px;
    width: 45%;
    float: left !important;
}

.right {
    padding: 7px;
    width: 45%;
    float: right !important;
}